<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- 
      計算屬性： 
      1.定義：要用的屬性不存在，要通過已有屬性計算得來。
      2.原理：底層借助了Objcet.defineproperty方法提供的getter和setter。
      3.get函數什麼時候執行？ 
        (1).初次讀取時會執行一次。
        (2).當依賴的資料發生改變時會被再次呼叫。
      4.優勢：與methods實現相比，內部有快取機制（復用），效率更高，偵錯方便。
      5.備註：
              1.計算屬性最終會出現在vm上，直接讀取使用即可。
              2.如果計算屬性要被修改，那必須寫set函數去響應修改，且set中要引起計算時依賴的資料發生改變。
    -->

    <div id="root">
      姓: <input type="text" v-model="firstName" /> <br /><br />
      名: <input type="text" v-model="lastName" /> <br /><br />
      測試: <input type="text" v-model="x" /> <br /><br />
      全名: <span>{{fullName}} 1</span> 全名: <span>{{fullName}}2</span> 全名:
      <span>{{fullName}}3</span>
    </div>
    <script src="../js/vue.js"></script>
    <script async>
      Vue.config.productionTip = false;
    </script>
    <script>
      const vm = new Vue({
        el: "#root",
        data: {
          firstName: "王",
          lastName: "小明",
          x: "你好",
        },
        methods: {
          demo() {
            console.log("eee");
          },
        },
        computed: {
          fullName: {
            // get有什麼作用?當有人讀取fullName時, get就會被調用, 且返回值就作為fullName的值
            // get什麼時候調用? 1. 初次讀取fullName時, 2.所依賴的數據發生變化時。
            get() {
              console.log("get被調用了");
              return this.firstName + "-" + this.lastName;
            },
            // set什麼時候調用? 當fullName被修改時。
            set(value) {
              console.log("set", value);
              const arr = value.split("-");
              this.firstName = arr[0];
              this.lastName = arr[1];
            },
          },
        },
      });
    </script>
  </body>
</html>
