<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>姓名案例_watch實現</title>
  </head>
  <body>
    <!-- 
				computed和watch之間的區別：
						1.computed能完成的功能，watch都可以完成。
						2.watch能完成的功能，computed不一定能完成，例如：watch可以進行非同步操作。
				兩個重要的小原則：
							1.所被Vue管理的函數，最好寫成普通函數，這樣this的指向才是vm 或 元件實例對象。
							2.所有不被Vue所管理的函數（定時器的回呼函數、ajax的回呼函數等、Promise的回呼函數），最好寫成箭頭函數，
								這樣this的指向才是vm 或 元件實例對象。
		-->
    <div id="root">
      姓: <input type="text" v-model="firstName" /> <br /><br />
      名: <input type="text" v-model="lastName" /> <br /><br />
      全名: <span>{{fullName}}</span>
    </div>
    <script src="../js/vue.js"></script>
    <script async>
      Vue.config.productionTip = false;
    </script>
    <script>
      const vm = new Vue({
        el: "#root",
        data: {
          firstName: "王",
          lastName: "小明",
          fullName: "王-小明",
        },
        watch: {
          firstName(val) {
            setTimeout(() => {
              this.fullName = val + "-" + this.lastName;
            }, 1000);
          },
          lastName(val) {
            this.fullName = this.firstName + "-" + val;
          },
        },
      });
    </script>
  </body>
</html>
